.container {
  width: 95%;
  /* border: 2px solid red; */
}

.picContainer {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.picture {
  /* border: 2px solid blue; */
  height: 30vh;
  width: 30vh;
  background-image: url(https://i.imgur.com/PdueY7e.jpg);
  background-size: 100% 100%;
  border-radius: 25%;
  margin-top: 10%;
  image-rendering: -webkit-optimize-contrast;
}

.about {
  /* border: 2px solid green; */
  width: 100%;
}

@media only screen and (min-width: 576px) {
    .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 90%;
  }

  .title {
    display: flex;
    justify-content: flex-start;
  }

  .picture {
    height: 50vh;
    width: 50vh;
  }

  .about {
    /* border: 2px solid green; */
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    width: 80%;
  }

   .picture {
    height: 50vh;
    width: 50vh;
  }

  .about {
    /* border: 2px solid green; */
    width: 60%;
  }

}

@media only screen and (min-width: 992px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 70%;
  }

  .title {
    display: flex;
    justify-content: flex-start;
  }

  .picture {
    height: 50vh;
    width: 50vh;
  }

  .about {
    /* border: 2px solid green; */
    width: 60%;
  }
}