
.container {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid green; */
  height: 10vh;
  width: 100%;
  background-color: inherit;
  position: fixed;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(255, 0, 0); */
  height: 95%;
  width: 15%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid blue; */
  height: 100%;
  width: 50%;
  border-radius: 15px;
  background-color: inherit;
  color: white;
}

.hireMe{
  border: none;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  background-color: inherit;
  border-radius: 10px;
  white-space: nowrap;
  color: gold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  position: fixed;
  margin-right: 10%;
  text-shadow: 0 0 10px rgb(255, 215, 0), 0 0 20px rgb(255, 215, 0), 0 0 30px rgb(255, 215, 0), 0 0 40px rgb(253, 215, 0), 0 0 50px rgb(255, 215, 0), 0 0 60px rgb(255, 215, 0), 0 0 70px rgb(255, 215, 0);
}
.hireMe:hover {
  border-radius: 10px;
  background-color: inherit;
  font-size: calc(20px + 2vmin);
  height: 10%;
  width: fit-content;
}

@media only screen and (min-width: 576px) {
  .navContainer {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  .hireMe {
    font-size: calc(20px + 2vmin);
  }
  
  .hireMe:hover {
    font-size: calc(25px + 2vmin);
  }
  
}

@media only screen and (min-width: 992px) {
  .hireMe {
    font-size: calc(20px + 2vmin);
  }

  .hireMe:hover {
    font-size: calc(25px + 2vmin);
  }
}